@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.subheader {
    float: left;
    padding: 0 30px;
}